<head>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="../static/css/nice-select.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/alpha.png"
          type="image/vnd.microsoft.icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/script/jquery.nice-select.js"></script>
    <script>
        $(document).ready(function () {
            $('select').niceSelect();
        });

    </script>
    <script type="text/javascript" src="../static/script/login.js"></script>
    <title>Add Course</title>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Add a course</h5>
                    <form class="form-signin" action="{{ url_for('add_course') }}" method="post">

                        <div class="form-label-group">
                            <input name="new_course_title" type="text" class="form-control" placeholder="course title"
                                   required autofocus>
                            <label for="new_course_title">New Course Title</label>
                        </div>

                        <div class="form-label-group">
                            <input style="height: 20%" name="new_course_description" type="text" class="form-control"
                                   placeholder="course description"
                                   required autofocus>
                            <label for="new_course_description">New Course Description</label>
                        </div>

                        <label for="new_course_year">
                            <select name="new_course_year">
                                <option selected disabled>New Course Year</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </label>

                        <label for="new_course_dep">
                            <select name="new_course_dep">
                                <option selected disabled>New Course Department</option>
                                {% for name in dep_names %}
                                    <option value="{{ name[0] }}">{{ name[1] }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        {% if error %}
                            <p>{{ error }}</p>
                        {% endif %}
                        <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                    </form>
                    <div id="declineSession"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>